<div class="row pub-entry">
{% if include.pub.image %}
<div class="col-xs-12 text-center">
	<a href="{{ include.pub.pdf }}"><img src="{{ include.pub.image }}"></a>
</div>
{% endif %}
<div class="col-xs-12">
	{% assign show_index = false %}
	{% if selectedBoolForBibtex != true %}
		{% assign show_index = true %}
	{% endif %}
	{% assign bibtex_suffix = "" %}
	{% if selectedBoolForBibtex == true %}
		{% assign bibtex_suffix = "_selected" %}
	{% endif %}
	{% include publication.html pub=include.pub show_index=show_index bibtex_suffix=bibtex_suffix compact=true %}
</div>
</div>
