{% assign pub = include.pub %}
{% assign show_index = include.show_index | default: false %}
{% assign bibtex_suffix = include.bibtex_suffix | default: "_selected" %}
{% assign compact = include.compact | default: false %}

{% if show_index %}
<div class="cv-left-date">
	{% case pub.type %}{% when "journal" %}J{% when "conference" %}C{% when "workshop" %}W{% when "poster" %}P{% when "demo" %}D{% when "misc" %}M{% endcase %}{{ forloop.rindex }}
</div>
{% endif %}

<div>
{% if pub.url %}
	<a href="{{ pub.url }}"><b>{{ pub.title }}</b></a>
{% else %}
	<b>{{ pub.title }}</b>
{% endif %}
</div>

<div>
	{% for person in pub.authors %}
		{% include person.html person=person %}{% for p in pub.equal-contribution %}{% if person == p %}*{% endif %}{% endfor %}{% unless forloop.last %},{% endunless %}
	{% endfor %}
</div>

{% if compact %}
<div><i>{{ pub.venue }}{% if pub.location %}{{ pub.location }},{% endif %} {{ pub.year }}</i></div>
{% else %}
<div><i>{{ pub.venue }}{% if pub.venue-shorthand %} ({{ pub.venue-shorthand }}){% endif %}.{% if pub.location %} {{ pub.location }},{% endif %} {{ pub.year }}.</i></div>
{% endif %}

{% if pub.url or pub.pdf or pub.coming-soon or pub.demo or pub.blog or pub.video or pub.preview or pub.talk or pub.recording or pub.slides or pub.poster or pub.code or pub.colab or pub.data or pub.bibtex or pub.doi or pub.award or pub.highlight or pub.equal-contribution %}
<div class="pub-misc">
	{% if pub.coming-soon == true %}
	  <a>
	    <i class="fas fa-arrow-right" aria-hidden="true"></i> More coming soon!
	  </a>
	{% endif %}

	{% if pub.url %}
	  <a href="{{ pub.url }}">
	    <i class="fas fa-link" aria-hidden="true"></i> Project
	  </a>
	{% endif %}

	{% if pub.demo %}
	  <a href="{{ pub.demo }}">
	    <i class="fas fa-play" aria-hidden="true"></i> Demo
	  </a>
	{% endif %}

	{% if pub.pdf %}
	  <a href="{{ pub.pdf }}">
	    <i class="fas fa-file-pdf" aria-hidden="true"></i> PDF
	  </a>
	{% endif %}

	{% if pub.blog %}
	  <a href="{{ pub.blog }}">
	    <i class="fas fa-newspaper" aria-hidden="true"></i> Blog
	  </a>
	{% endif %}

	{% if pub.video %}
	  <a href="{{ pub.video }}">
	    <i class="fas fa-film" aria-hidden="true"></i> Video
	  </a>
	{% endif %}

	{% if pub.preview %}
	  <a href="{{ pub.preview }}">
	    <i class="fas fa-eye" aria-hidden="true"></i> Preview
	  </a>
	{% endif %}

	{% if pub.talk %}
	  <a href="{{ pub.talk }}">
	    <i class="fas fa-video" aria-hidden="true"></i> Talk
	  </a>
	{% endif %}

	{% if pub.recording %}
	  <a href="{{ pub.recording }}">
	    <i class="fas fa-video" aria-hidden="true"></i> Recording
	  </a>
	{% endif %}

	{% if pub.slides %}
	  <a href="{{ pub.slides }}">
	    <i class="fas fa-window-maximize" aria-hidden="true"></i> Slides
	  </a>
	{% endif %}

	{% if pub.poster %}
	  <a href="{{ pub.poster }}">
	    <i class="fas fa-image" aria-hidden="true"></i> Poster
	  </a>
	{% endif %}

	{% if pub.code %}
	  <a href="{{ pub.code }}">
		<i class="fab fa-github icon" aria-hidden="true"></i> Code
	  </a>
	{% endif %}

	{% if pub.colab %}
	  <a href="{{ pub.colab }}">
		<iconify-icon icon="simple-icons:googlecolab"></iconify-icon> Colab
	  </a>
	{% endif %}

	{% if pub.data %}
	  <a href="{{ pub.data }}">
	    <i class="fas fa-database" aria-hidden="true"></i> Data
	  </a>
	{% endif %}

	{% if pub.bibtex %}
		<a style="cursor:pointer" onclick="toggleBibtex('_{{ pub.id }}{{ bibtex_suffix }}')">
			<i class="fas fa-book" aria-hidden="true"></i> BibTeX
		</a>
	{% endif %}

	{% if pub.doi %}
      <a href="https://doi.org/{{ pub.doi }}">
	    <i class="fas fa-anchor" aria-hidden="true"></i> DOI
	  </a>
	{% endif %}

	{% if pub.award %}
	    <span class="cv-award"><i class="fas fa-trophy" aria-hidden="true"></i> {{ pub.award }}</span>
	{% endif %}

	{% if pub.highlight %}
		<span class="cv-award"><i class="fas fa-star" aria-hidden="true"></i> {{ pub.highlight }}</span>
	{% endif %}

	{% if pub.equal-contribution %}
	    <span class="equal-contribution"> *Authors contributed equally</span>
	{% endif %}
</div>
{% endif %}

{% if pub.bibtex %}
<div class="highlighter-rouge bibtex bibtex-wrapper" style="display: none;" id="_{{ pub.id }}{{ bibtex_suffix }}">
	<div class="highlight">
		<pre>
			{{ pub.bibtex }}
		</pre>
	</div>
</div>
{% endif %}

<div class="cv-spacer"></div>
